.form__button-submit {
  background-color: #000;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  line-height: 22px;
  margin-top: 20px;
}

.form__button-submit:hover{
  opacity: 0.8;
}

/* 768 */
@media screen and (max-width: 768px){
  .form__button-submit {
    font-size: 14px;
    height: 46px;
    line-height: 17px;
    margin-top: 14px;
  }
}