.profile__button-edit {
  align-self: end;
  background-color: transparent;
  background-image: url(../../../images/edit_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
  height: 24px;
  margin-bottom: 8px;
  width: 24px;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 898px) {
  .profile__button-edit {
    height: 18px;
    margin-bottom: 6px;
    width: 18px;
  }
}