.header__logo {
  color: black;
  height: 33px;
  margin: 0;
  object-fit: cover;
  object-position: center;
  padding: 45px 0 41px;
  width: 142px;
}

/* 900 */
@media screen and (max-width: 900px) {
  .header__logo {
    padding: 28px 27px 32px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .header__logo {
    height: 24px;
    width: 104px;
  }
}