.elements {
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  justify-items: center;
  margin: 0;
  max-width: 880px;
  padding: 48px 0 0;
  width: 100%;
}

/* 768 */
@media screen and (max-width: 768px) {
  .elements {
    padding: 36px 0 0;
  }
}