.popup__button-close {
  background-color: transparent;
  background-image: url(../../../images/close_button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: -37px;
  top: -41px;
  width: 32px;
}

/* 768 */
@media screen and (max-width: 768px) {
  .popup__button-close {
    height: 20px;
    right: 0;
    top:-37px;
    width: 20px;
  }
}

.popup__button-close:hover {
  opacity: 0.6;
}