.profile__button-add {
  align-self: center;
  background-color: transparent;
  background-image: url(../../../images/add_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 2px solid #fff;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  justify-self: end;
  width: 150px;
}

.profile__button-add:hover {
  opacity: 0.6;
}

/* 898 */
@media screen and (max-width: 898px) {
  .profile__button-add {
    width: 282px;
  }
}