.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  padding-left: 30px;
}

/* 898 */
@media screen and (max-width: 898px) {
  .profile__info {
    padding: 23px 0 36px;
  }
}