.profile__name-description {
  margin: 0;
  max-width: 450px;
  line-height: 22px;
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 898 */
@media screen and (max-width: 898px) {
  .profile__name-description {
    max-width: 268px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}