.profile__info-description {
  margin: 0;
  max-width: 336px;
  line-height: 22px;
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-top: 16px;
}